<div>現在時刻：<%= Time.now %></div>
<div id="result">現在時刻：<%= Time.now %></div>
<%= link_to '更新', { action: :upanel }, remote: true %>

<script>
$(function() {
    $('#result').click(function() {
        $(this).css("color", "red")
    });
});
$("#result").html(
    "<%= escape_javascript('現在時刻：' + @time) %>"
);
</script>
