<% content_for :extended_menu do %>
  [a<%#= link_to '関連情報', action: :relation %>]
  [b<%#= link_to 'ダウンロード', action: :download %>]
  [c<%#= link_to 'アンケート', action: :quest %>]
<% end %>
<div id="main">
    …コンテンツ本体…
</div>
